{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

<div class='row'>
    <div class='col-md-3 col-12'>
        <center>
            <a href="{% url 'groups:leave_group' group.slug %}" class="btn btn-danger mt-2">leave</a> <br>
            <h3> group members: </h3>
            {% for member in group.members.all %}
            {{ member.username }}
            {% endfor %}

        </center>
    </div>

    <div class='col-12 col-md-9'>

        <center>

            <form method='post'>
                {% csrf_token %}
                {% bootstrap_form post_form %}

                {% buttons %}
                <button type="submit" class="btn btn-primary">share</button>
                {% endbuttons %}
            </form>

            {% for post in posts %}

                <div class="jumbotron">
                    <h1 class="display-4">{{ post.content }}</h1>
                    {% if request.user in post.likes.all %}
                        <form method='post'>
                            {% csrf_token %}

                            <input type="text" value="{{ post.id }}" name ='post_dislike' hidden>
                            <button type="submit" class="btn btn-danger btn-lg btn-block">{{ post.likes.count }} <i class="fas fa-thumbs-down"></i></button>
                        </form>

                    {% else %}
                        <form method='post'>
                            {% csrf_token %}

                            <input type="text" value="{{ post.id }}" name ='post_like' hidden>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">{{ post.likes.count }} <i class="far fa-thumbs-up"></i></button>
                        </form>
                    {% endif %}
                    <hr class="my-4">

                    {% for comment in post.comment_set.all %}
                        <p> {{ comment.comment }} </p>
                    {% endfor %}
                    <form method='post'>
                        {% csrf_token %}
                        <input type="text" name='comment'>
                        <input type="text" value="{{ post.id }}" name ='post_id' hidden>
                        <button type="submit" class="btn btn-primary">comment</button>
                    </form>
                </div>

            {% endfor %}

        </center>

    </div>

</div>


{% endblock content %}