{% extends 'base.html' %}
{% block title %} Delete {{ group.name }} {% endblock %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2> you will delete {{group.name}}, are you sure! 

        {% buttons %}
         <button type="submit" class="btn btn-danger">Submit</button>
         <a href='{% url "account:profile" user.username %}' class="btn btn-primary">cancle</a>
        {% endbuttons %}

    </form>
</div>
{% endblock content %}