{% extends 'base.html' %}

{% block title %}
My School
{% endblock title %}

{% block content %}
        <div class="row">
            <div class=" col-12 col-md-6 father">

                <div class="student"></div>
                <div class="up">
                    <center>
                        <h2> soon </h2>
                    </center>
                </div>
            </div>
            <div class=" col-12 col-md-6 father">
                <div class="teacher"></div>
                <div class="up">
                    <center>
                        <h2> soon </h2>
                    </center>
                </div>

            </div>
        </div>
{% endblock content %}